@model TwoWheeler 
<!DOCTYPE html>

<!--[if IE 7 ]>  <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>  <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>  <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!-- Meta -->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="description" content="" />
    <meta name="format-detection" content="telephone=no">
    <!-- Favicons Icon -->
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <!-- Page Title Here -->
    <title>CarZone - Car Dealer Automotive Responsive HTML5 Template</title>
    <!-- Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
	<![endif]-->
   
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,400,600,700,800|Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
</head>

<body id="bg">

    <div class="page-wraper">
        <div id="loading-area"></div>

        <!-- Content -->
        <div class="page-content">
            <!-- Slider -->
            <div class="main-slider style-two default-banner">
                <div class="tp-banner-container">
                    <div class="tp-banner">
                        <div id="dz_rev_slider_4_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="news-gallery36" data-source="gallery" style="margin:0px auto;background-color:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">
                            <!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
                            <div id="dz_rev_slider_4" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.3.3">
                                <ul>
                                    <!-- SLIDE 1 -->
                                    <li data-index="rs-6" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="revolution/assets/100x50_3176d-road-bg.jpg"
                                        data-rotate="0" data-savepresentation="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="images/main-slider/slide1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                        <!-- LAYERS -->
                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption   tp-resizeme" id="slide-2957-layer-5" data-x="502" data-y="center" data-voffset="130" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-transform_idle="o:1;" data-transform_in="x:50px;opacity:0;s:1500;e:Power3.easeOut;"
                                            data-transform_out="opacity:0;s:300;" data-start="1200" data-responsive_offset="on" style="z-index: 11;">
                                            <img src="images/car2.png" alt="" data-ww="auto" data-hh="auto" data-no-retina>
                                        </div>
                                    </li>
                                    <!-- SLIDE 2 -->
                                    <!-- SLIDE  -->
                                    <li data-index="rs-5" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="revolution/assets/100x50_3176d-road-bg.jpg"
                                        data-rotate="0" data-savepresentation="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                        <!-- MAIN IMAGE -->
                                        <img src="images/main-slider/slide2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                        <!-- LAYERS -->
                                        <!-- LAYER NR. 1 -->
                                        <div class="tp-caption   tp-resizeme" id="slide-2957-layer-4" data-x="502" data-y="center" data-voffset="130" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-transform_idle="o:1;" data-transform_in="x:50px;opacity:0;s:1500;e:Power3.easeOut;"
                                            data-transform_out="opacity:0;s:300;" data-start="1200" data-responsive_offset="on" style="z-index: 11;">
                                            <img src="images/car3.png" alt="" data-ww="auto" data-hh="auto" data-no-retina>
                                        </div>
                                    </li>

                                </ul>
                                <div class="tp-bannertimer tp-bottom bg-primary" style="height: 5px; "></div>
                            </div>
                        </div>
                        <!-- END REVOLUTION SLIDER -->
                    </div>
                </div>
                <!-- Form -->
                <div class="form-slide">
                    <div class="container">
                        <form class="search-car" action="new-car-search-result-list.html" method="post">
                            <div class="form-head" @* style="background-color:blue;margin-bottom: 40px;position: relative;text-align: center;z-index: 1" *@>
                                <h2>Search the right vehicle</h2>
                            </div>
                            <!-- TABS -->
                            <div class="form-find-area">
                                <ul class="nav theme-tabs">
                                    <li role="presentation" class="active"><a data-toggle="tab" aria-controls="new-car" href="#new-car">CAR</a></li>
                                    <li role="presentation"><a data-toggle="tab" aria-controls="popular" href="#used-car">Bike</a></li>
                                </ul>
                                <div class="tab-content">
                                    <!-- NEW CAR -->
                                    <div id="new-car" class="tab-pane active clearfix">
                                        <ul class="nav text-center check-nav navbar-nav">
                                            <li>
                                                <input id="radio1" type="radio" name="new_search" checked="checked" value="budget" />
                                                <label for="radio1">BY BUDGET</label>
                                            </li>
                                            <li>
                                                <input id="radio2" type="radio" name="new_search" value="brand" />
                                                <label for="radio2">BY BRAND</label>
                                            </li>
                                        </ul>
                                        <div id="budgetDiv" class="new_form_div">
                                            <div class="input-group">
                                                <select class="form-control">
												<option>Select Budget</option>
												<option>Below 5 Lakh</option>
												<option>5 Lakh - 10 Lakh</option>
												<option>10 Lakh - 20 Lakh</option>
												<option>20 Lakh - 50 Lakh</option>
												<option>50 Lakh - 1 Crore</option>
												<option>Above 1 Crore</option>
											</select>
                                            </div>
                                            <div class="input-group">
                                                <select class="form-control">
												<option>All Vehicle Types</option>
												<option>SUV</option>
												<option>Sedans</option>
												<option>Coupe</option>
												<option>Hatchback</option>
												<option>MUV</option>
												<option>Convertible</option>
												<option>Crossover</option>
												<option>Quadricycle</option>
											</select>
                                            </div>
                                        </div>
                                        <div id="brandDiv" class="new_form_div" style="display: none;">
                                            <div class="input-group">
                                                <select class="form-control" asp-items="ViewBag.FourwheelerName">
												<option value="">Select Brand</option>
											</select>
                                            </div>
                                            <div class="input-group">
                                                <select class="form-control">
												<option>Select Model</option>
												<option>Hatchback</option>
												<option>Sedans</option>
												<option>MUV</option>
											</select>
                                            </div>
                                        </div>

                                        <div class="input-group">
                                            <button class="site-button button-lg btn-block" type="submit">SEARCH</button>
                                        </div>
                                        <div class="input-group text-center">
                                            <a class="site-button-link" href="new-car-search.html">ADVANCED SEARCH <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                    <!-- USED CAR -->
                                    <div id="used-car" class="tab-pane clearfix">
                                        <ul class="nav text-center check-nav navbar-nav">
                                            <li>
                                                <input id="radio3" type="radio" name="used_search" checked="checked" value="used_budget" />
                                                <label for="radio3">BY BUDGET</label>
                                            </li>
                                            <li>
                                                <input id="radio4" type="radio" name="used_search" value="used_model" />
                                                <label for="radio4">BY MODEL</label>
                                            </li>
                                        </ul>
                                        <div id="used_budgetDiv" class="used_form_div">
                                            <div class="input-group">
                                                <select class="form-control">
												<option>Select Budget</option>
												<option>Upto 50,000</option>
												<option>50,000 - 75,000</option>
												<option>75,000 - 1 Lakh</option>
												<option>1 Lakh - 2 Lakh</option>
												<option>2 Lakh - 3 Lakh</option>
												<option>Above 3 Lakh</option>
											</select>
                                            </div>
                                            <div class="input-group">
                                                <select class="form-control" asp-items="ViewBag.Mlists">
                                                    <option value="">Select Body Type</option>
											</select>
                                            </div>
                                        </div>
                                        <div id="used_modelDiv" class="used_form_div" style="display: none;">
                                            <div class="input-group">
                                                <select id="ddlBrand" class="form-control" asp-items="ViewBag.TWLists">
                                                    <option value="">Select Brand</option>
                                                </select>
                                            </div>
                                            <div class="input-group">
                                                <select id="ddlModel" class="form-control">
                                                    <option value="">Select Model</option>
											</select>
                                            </div>
                                            
                                        </div>
                                        <div class="input-group">
                                            <button class="site-button button-lg btn-block" type="submit" onclick="window.location.href='sed-car-search.html'">SEARCH</button>
                                        </div>
                                        <div class="input-group text-center">
                                            <a class="site-button-link" href="new-car-search.html">ADVANCED SEARCH <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                                </div>
                        </form>
                    </div>
                </div>
                <!-- Form END -->

               <!-- <div class="container">
    <h1>Welcome to My Website</h1>
    <img src="https://drive.google.com/uc?id=1R84ShbFUiujArIwUUUnEHkaJiZGeXpR9.png" />
                    <img src="https://www.scopetree.com/wordpress/wp-content/uploads/2017/05/Dot_net.jpg" />
</div>-->
            </div>
            </div>
            <!-- Slider END -->
            <!-- New Car -->
            <div class="section-full bg-img-fix dlab-new-work overlay-white-dark " style="background-image: url(images/background/bg1.jpg);">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 col-sm-4  p-a0 no-of-item">
                            <div class="no-of-item-dtl">
                                <h2>18+</h2>
                                <h3>UPCOMING CARS</h3>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-8 p-a0">
                            <div class="new-item owl-btn-style-1 owl-carousel">
                                <div class="item dlab-new-item">
                                    <div class="dlab-box">
                                        <div class="dlab-media">
                                            <a href="#"><img src="images/our-work/work/pic1.jpg" alt=""></a>
                                        </div>
                                        <div class="dlab-info">
                                            <p class="event-date">November 6, 2018</p>
                                            <h4 class="dlab-title"><a href="new-car-upcoming.html">Toyota avalon hybrid  <i class="fa fa-angle-right pull-right"></i></a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="item dlab-new-item">
                                    <div class="dlab-box">
                                        <div class="dlab-media">
                                            <a href="#"><img src="images/our-work/work/pic2.jpg" alt=""></a>
                                        </div>
                                        <div class="dlab-info">
                                            <p class="event-date">November 6, 2018</p>
                                            <h4 class="dlab-title"><a href="new-car-upcoming.html">Toyota avalon hybrid  <i class="fa fa-angle-right pull-right"></i></a></h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="item dlab-new-item">
                                    <div class="dlab-box">
                                        <div class="dlab-media">
                                            <a href="#"><img src="images/our-work/work/pic3.jpg" alt=""></a>
                                        </div>
                                        <div class="dlab-info">
                                            <p class="event-date">November 6, 2018</p>
                                            <h4 class="dlab-title"><a href="new-car-upcoming.html">Toyota avalon hybrid  <i class="fa fa-angle-right pull-right"></i></a></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- New Car New -->
            <!-- About Us -->
           <!-- <div class="section-full about-us bg-white content-inner-2" style="background-image: url(images/background/about-us.jpg); background-position:bottom; background-repeat:no-repeat; background-size:100%;">
                <div class="container">
                    <div class="section-head text-center head-1">
                        <span class="text-primary">Welcome To Our Website</span>
                        <h3 class="h3 text-uppercase">Car Dealership</h3>
                        <div class="dlab-separator bg-gray-dark"></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6  col-xs-6">
                            <div class="dlab-box-bg m-b30 box-hover" style="background-image: url(images/our-work/work/pic1.jpg)">
                                <div class="icon-bx-wraper center p-lr20 p-tb30">
                                    <div class="text-primary m-b20">
                                        <span class="icon-cell"><i class="glyph-icon flaticon-steering-wheel"></i></span>
                                    </div>
                                    <div class="icon-content">
                                        <h4 class="dlab-tilte text-uppercase">All brands</h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and type setting industry.</p>
                                    </div>
                                </div>
                                <div class="icon-box-btn text-center">
                                    <a href="#" class="site-button btn-block">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="dlab-box-bg m-b30 box-hover" style="background-image: url(images/our-work/work/pic2.jpg)">
                                <div class="icon-bx-wraper center p-lr20 p-tb30">
                                    <div class="text-primary m-b20">
                                        <span class="icon-cell"><i class="glyph-icon flaticon-speech-bubble"></i></span>
                                    </div>
                                    <div class="icon-content">
                                        <h4 class="dlab-tilte text-uppercase">Free Support</h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and type setting industry.</p>
                                    </div>
                                </div>
                                <div class="icon-box-btn text-center">
                                    <a href="#" class="site-button btn-block">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="dlab-box-bg m-b30 box-hover active" style="background-image: url(images/our-work/work/pic3.jpg)">
                                <div class="icon-bx-wraper center p-lr20 p-tb30">
                                    <div class="text-primary m-b20">
                                        <span class="icon-cell"><i class="glyph-icon flaticon-mechanic"></i></span>
                                    </div>
                                    <div class="icon-content">
                                        <h4 class="dlab-tilte text-uppercase">Dealership</h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and type setting industry.</p>
                                    </div>
                                </div>
                                <div class="icon-box-btn text-center">
                                    <a href="#" class="site-button btn-block">Read More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="dlab-box-bg m-b30 box-hover" style="background-image: url(images/our-work/work/pic4.jpg)">
                                <div class="icon-bx-wraper center p-lr20 p-tb30">
                                    <div class="text-primary m-b20">
                                        <span class="icon-cell"><i class="glyph-icon flaticon-list"></i></span>
                                    </div>
                                    <div class="icon-content">
                                        <h4 class="dlab-tilte text-uppercase">affordable</h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and type setting industry.</p>
                                    </div>
                                </div>
                                <div class="icon-box-btn text-center">
                                    <a href="#" class="site-button btn-block">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dlab-info-about">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="">
                                    <h3 class="h3 text-uppercase m-b10 m-t0">About us </h3>
                                    <p class="p-t0">Everything you need to build an amazing dealership website.</p>
                                </div>
                                <div class="about-us-info">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                                        to make a type specimen book.</p>
                                    <div class="media media-info">
                                        <div class="media-left">
                                            <a href="#">
											<img class="media-object" src="images/testimonials/pic2.jpg" alt="">
										</a>
                                        </div>
                                        <div class="media-body p-l15">
                                            <h4 class="font-weight-700 text-uppercase text-primary m-b10">Have any question ?</h4>
                                            <h2 class="media-heading open-sans font-weight-700">01 123 456 789</h2>
                                        </div>
                                    </div>
                                    <div class="m-t30">
                                        <a href="#" class="site-button">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="about-side-img wow fadeInRight" data-wow-duration="1.50s" data-wow-delay="0.50s">
                                    <img src="images/car.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About Us END -->
            <!-- For Your Quick Look -->
           <!-- <div class="section-full bg-white content-inner car-listing">
                <div class="container">
                    <div class="section-head">
                        <h3 class="h3 text-uppercase">For your quick look</h3>
                        <ul class="nav theme-tabs">
                            <li role="presentation" class="active"><a data-toggle="tab" aria-controls="upcoming" href="#upcoming">UPCOMING</a></li>
                            <li role="presentation"><a data-toggle="tab" aria-controls="popular" href="#popular">POPULAR</a></li>
                            <li role="presentation"><a data-toggle="tab" aria-controls="latest" href="#latest">LATEST</a></li>
                        </ul>
                    </div>
                    <div class="section-content ">
                        <div class="row">
                            <div class="dlab-tabs">

                                <div class="tab-content">
                                    <div id="upcoming" class="tab-pane active clearfix">
                                        <div class="col-md-12 owl-carousel owl-btn-style-2 quick-look">
                                            <div class="item">
                                                <div class="dlab-feed-list">
                                                    <div class="dlab-media">
                                                        <a href="new-car-upcoming.html"><img src="images/our-work/work/pic1.jpg" alt=""></a>
                                                    </div>
                                                    <div class="dlab-info">
                                                        <h4 class="dlab-title"><a href="new-car-upcoming.html">Hyundai santa fe sport </a></h4>
                                                        <div class="dlab-separator bg-black"></div>
                                                        <p class="dlab-price"><del>$40,152</del> <span class="text-primary">$26,598</span></p>
                                                    </div>
                                                    <div class="icon-box-btn text-center">
                                                        <ul class="clearfix">
                                                            <li>2019</li>
                                                            <li>Manual</li>
                                                            <li>210 hp </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="dlab-feed-list">
                                                    <div class="dlab-media">
                                                        <a href="new-car-upcoming.html"><img src="images/our-work/work/pic2.jpg" alt=""></a>
                                                    </div>
                                                    <div class="dlab-info">
                                                        <h4 class="dlab-title"><a href="new-car-upcoming.html">Hyundai santa fe sport </a></h4>
                                                        <div class="dlab-separator bg-black"></div>
                                                        <p class="dlab-price"><del>$40,152</del> <span class="text-primary">$26,598</span></p>
                                                    </div>
                                                    <div class="icon-box-btn text-center">
                                                        <ul class="clearfix">
                                                            <li>2019</li>
                                                            <li>Manual</li>
                                                            <li>210 hp </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="dlab-feed-list">
                                                    <div class="dlab-media">
                                                        <a href="new-car-upcoming.html"><img src="images/our-work/work/pic3.jpg" alt=""></a>
                                                    </div>
                                                    <div class="dlab-info">
                                                        <h4 class="dlab-title"><a href="new-car-upcoming.html">Hyundai santa fe sport </a></h4>
                                                        <div class="dlab-separator bg-black"></div>
                                                        <p class="dlab-price"><del>$40,152</del> <span class="text-primary">$26,598</span></p>
                                                    </div>
                                                    <div class="icon-box-btn text-center">
                                                        <ul class="clearfix">
                                                            <li>2019</li>
                                                            <li>Manual</li>
                                                            <li>210 hp </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="dlab-feed-list">
                                                    <div class="dlab-media">
                                                        <a href="new-car-upcoming.html"><img src="images/our-work/work/pic4.jpg" alt=""></a>
                                                    </div>
                                                    <div class="dlab-info">
                                                        <h4 class="dlab-title"><a href="new-car-upcoming.html">Hyundai santa fe sport </a></h4>
                                                        <div class="dlab-separator bg-black"></div>
                                                        <p class="dlab-price"><del>$40,152</del> <span class="text-primary">$26,598</span></p>
                                                    </div>
                                                    <div class="icon-box-btn text-center">
                                                        <ul class="clearfix">
                                                            <li>2019</li>
                                                            <li>Manual</li>
                                                            <li>210 hp </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="popular" class="tab-pane clearfix fade">
                                        <div class="col-md-12 owl-carousel owl-btn-style-2 quick-look">
                                            <div class="item">
                                                <div class="dlab-feed-list">
                                                    <div class="dlab-media">
                                                        <a href="new-car-popular.html"><img src="images/our-work/work/pic3.jpg" alt=""></a>
                                                    </div>
                                                    <div class="dlab-info">
                                                        <h4 class="dlab-title"><a href="new-car-popular.html">Hyundai santa fe sport </a></h4>
                                                        <div class="dlab-separator bg-black"></div>
                                                        <p class="dlab-price"><del>$40,152</del> <span class="text-primary">$26,598</span></p>
                                                    </div>
                                                    <div class="icon-box-btn text-center">
                                                        <ul class="clearfix">
                                                            <li>2019</li>
                                                            <li>Manual</li>
                                                            <li>210 hp </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="dlab-feed-list">
                                                    <div class="dlab-media">
                                                        <a href="new-car-popular.html"><img src="images/our-work/work/pic4.jpg" alt=""></a>
                                                    </div>
                                                    <div class="dlab-info">
                                                        <h4 class="dlab-title"><a href="new-car-popular.html">Hyundai santa fe sport </a></h4>
                                                        <div class="dlab-separator bg-black"></div>
                                                        <p class="dlab-price"><del>$40,152</del> <span class="text-primary">$26,598</span></p>
                                                    </div>
                                                    <div class="icon-box-btn text-center">
                                                        <ul class="clearfix">
                                                            <li>2019</li>
                                                            <li>Manual</li>
                                                            <li>210 hp </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="dlab-feed-list">
                                                    <div class="dlab-media">
                                                        <a href="new-car-popular.html"><img src="images/our-work/work/pic1.jpg" alt=""></a>
                                                    </div>
                                                    <div class="dlab-info">
                                                        <h4 class="dlab-title"><a href="new-car-popular.html">Hyundai santa fe sport </a></h4>
                                                        <div class="dlab-separator bg-black"></div>
                                                        <p class="dlab-price"><del>$40,152</del> <span class="text-primary">$26,598</span></p>
                                                    </div>
                                                    <div class="icon-box-btn text-center">
                                                        <ul class="clearfix">
                                                            <li>2019</li>
                                                            <li>Manual</li>
                                                            <li>210 hp </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="dlab-feed-list">
                                                    <div class="dlab-media">
                                                        <a href="new-car-popular.html"><img src="images/our-work/work/pic2.jpg" alt=""></a>
                                                    </div>
                                                    <div class="dlab-info">
                                                        <h4 class="dlab-title"><a href="new-car-popular.html">Hyundai santa fe sport </a></h4>
                                                        <div class="dlab-separator bg-black"></div>
                                                        <p class="dlab-price"><del>$40,152</del> <span class="text-primary">$26,598</span></p>
                                                    </div>
                                                    <div class="icon-box-btn text-center">
                                                        <ul class="clearfix">
                                                            <li>2019</li>
                                                            <li>Manual</li>
                                                            <li>210 hp </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="latest" class="tab-pane clearfix fade">
                                        <div class="col-md-12 owl-carousel owl-btn-style-2 quick-look">
                                            <div class="item">
                                                <div class="dlab-feed-list">
                                                    <div class="dlab-media">
                                                        <a href="new-car-latest.html"><img src="images/our-work/work/pic2.jpg" alt=""></a>
                                                    </div>
                                                    <div class="dlab-info">
                                                        <h4 class="dlab-title"><a href="new-car-latest.html">Hyundai santa fe sport </a></h4>
                                                        <div class="dlab-separator bg-black"></div>
                                                        <p class="dlab-price"><del>$40,152</del> <span class="text-primary">$26,598</span></p>
                                                    </div>
                                                    <div class="icon-box-btn text-center">
                                                        <ul class="clearfix">
                                                            <li>2019</li>
                                                            <li>Manual</li>
                                                            <li>210 hp </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="dlab-feed-list">
                                                    <div class="dlab-media">
                                                        <a href="new-car-latest.html"><img src="images/our-work/work/pic3.jpg" alt=""></a>
                                                    </div>
                                                    <div class="dlab-info">
                                                        <h4 class="dlab-title"><a href="new-car-latest.html">Hyundai santa fe sport </a></h4>
                                                        <div class="dlab-separator bg-black"></div>
                                                        <p class="dlab-price"><del>$40,152</del> <span class="text-primary">$26,598</span></p>
                                                    </div>
                                                    <div class="icon-box-btn text-center">
                                                        <ul class="clearfix">
                                                            <li>2019</li>
                                                            <li>Manual</li>
                                                            <li>210 hp </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="dlab-feed-list">
                                                    <div class="dlab-media">
                                                        <a href="new-car-latest.html"><img src="images/our-work/work/pic1.jpg" alt=""></a>
                                                    </div>
                                                    <div class="dlab-info">
                                                        <h4 class="dlab-title"><a href="new-car-latest.html">Hyundai santa fe sport </a></h4>
                                                        <div class="dlab-separator bg-black"></div>
                                                        <p class="dlab-price"><del>$40,152</del> <span class="text-primary">$26,598</span></p>
                                                    </div>
                                                    <div class="icon-box-btn text-center">
                                                        <ul class="clearfix">
                                                            <li>2019</li>
                                                            <li>Manual</li>
                                                            <li>210 hp </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="item">
                                                <div class="dlab-feed-list">
                                                    <div class="dlab-media">
                                                        <a href="new-car-latest.html"><img src="images/our-work/work/pic4.jpg" alt=""></a>
                                                    </div>
                                                    <div class="dlab-info">
                                                        <h4 class="dlab-title"><a href="new-car-latest.html">Hyundai santa fe sport </a></h4>
                                                        <div class="dlab-separator bg-black"></div>
                                                        <p class="dlab-price"><del>$40,152</del> <span class="text-primary">$26,598</span></p>
                                                    </div>
                                                    <div class="icon-box-btn text-center">
                                                        <ul class="clearfix">
                                                            <li>2019</li>
                                                            <li>Manual</li>
                                                            <li>210 hp </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- For Your Quick Look END -->
            <!-- Car Find And Sale -->
            <!--<div class="section-full bg-gray p-tb20 car-listing">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="find-car box-hover " style="background-image: url(images/blog/default/thum1.jpg)">
                                <div class="car-box">
                                    <span class="text-primary">Are You Looking</span>
                                    <h2 class="text-uppercase">To Buy A Car ?</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the..</p>
                                    <a href="new-car-search.html" class="site-button outline">
									Search Your Car
								</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="find-car box-hover active" style="background-image: url(images/blog/default/thum2.jpg)">
                                <div class="car-box">
                                    <span class="text-primary">Are You Looking</span>
                                    <h2 class="text-uppercase">To Buy A Car ?</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the..</p>
                                    <a href="new-car-search.html" class="site-button outline">
									Search Your Car
								</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="find-car box-hover" style="background-image: url(images/blog/default/thum3.jpg)">
                                <div class="car-box">
                                    <span class="text-primary">Are You Looking</span>
                                    <h2 class="text-uppercase">To Buy A Car ?</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the..</p>
                                    <a href="new-car-search.html" class="site-button outline">
									Search Your Car
								</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- Car Find And Sale END -->
            <!-- For Your Quick Look -->
            <!--<div class="section-full bg-white content-inner car-listing ">
                <div class="container">
                    <div class="section-head">
                        <h3 class="h3 text-uppercase">Used Cars</h3>
                        <ul class="nav theme-tabs">
                            <li role="presentation" class="active"><a data-toggle="tab" aria-controls="by-city" href="#by-city">BY CITY</a></li>
                            <li role="presentation"><a data-toggle="tab" aria-controls="by-price" href="#by-price">BY PRICE</a></li>
                        </ul>
                    </div>
                    <div class="section-content ">
                        <div class="row">
                            <div class="dlab-tabs">
                                <div class="tab-content">
                                    <div id="by-city" class="tab-pane active clearfix city-list">
                                        <div class="col-md-12 owl-carousel owl-btn-style-2 city-item" id="da-thumbs">
                                            <div class="item">
                                                <div class="city-box">
                                                    <div class="glyph-icon flaticon-university"></div>
                                                    <div class="city-info">
                                                        <span>Used Cars In </span>
                                                        <a href="used-car-search-result.html">United Kingdom</a>
                                                    </div>
                                                    <div class="dlab-move"></div>
                                                </div>
                                                <div class="city-box">
                                                    <div class="glyph-icon flaticon-office-1"></div>
                                                    <div class="city-info">
                                                        <span>Used Cars In </span>
                                                        <a href="used-car-search-result.html">United Kingdom</a>
                                                    </div>
                                                    <div class="dlab-move"></div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="city-box">
                                                    <div class="glyph-icon flaticon-school"></div>
                                                    <div class="city-info">
                                                        <span>Used Cars In </span>
                                                        <a href="used-car-search-result.html">United Kingdom</a>
                                                    </div>
                                                    <div class="dlab-move"></div>
                                                </div>
                                                <div class="city-box">
                                                    <div class="glyph-icon flaticon-cityscape"></div>
                                                    <div class="city-info">
                                                        <span>Used Cars In </span>
                                                        <a href="used-car-search-result.html">United Kingdom</a>
                                                    </div>
                                                    <div class="dlab-move"></div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="city-box">
                                                    <div class="glyph-icon flaticon-holidays-1"></div>
                                                    <div class="city-info">
                                                        <span>Used Cars In </span>
                                                        <a href="used-car-search-result.html">United Kingdom</a>
                                                    </div>
                                                    <div class="dlab-move"></div>
                                                </div>
                                                <div class="city-box">
                                                    <div class="glyph-icon flaticon-building"></div>
                                                    <div class="city-info">
                                                        <span>Used Cars In </span>
                                                        <a href="used-car-search-result.html">United Kingdom</a>
                                                    </div>
                                                    <div class="dlab-move"></div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="city-box">
                                                    <div class="glyph-icon flaticon-construction"></div>
                                                    <div class="city-info">
                                                        <span>Used Cars In </span>
                                                        <a href="used-car-search-result.html">United Kingdom</a>
                                                    </div>
                                                    <div class="dlab-move"></div>
                                                </div>
                                                <div class="city-box">
                                                    <div class="glyph-icon flaticon-holidays"></div>
                                                    <div class="city-info">
                                                        <span>Used Cars In </span>
                                                        <a href="used-car-search-result.html">United Kingdom</a>
                                                    </div>
                                                    <div class="dlab-move"></div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="city-box">
                                                    <div class="glyph-icon flaticon-monument-1"></div>
                                                    <div class="city-info">
                                                        <span>Used Cars In </span>
                                                        <a href="used-car-search-result.html">United Kingdom</a>
                                                    </div>
                                                    <div class="dlab-move"></div>
                                                </div>
                                                <div class="city-box">
                                                    <div class="glyph-icon flaticon-skyscraper"></div>
                                                    <div class="city-info">
                                                        <span>Used Cars In </span>
                                                        <a href="used-car-search-result.html">United Kingdom</a>
                                                    </div>
                                                    <div class="dlab-move"></div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="city-box">
                                                    <div class="glyph-icon flaticon-office"></div>
                                                    <div class="city-info">
                                                        <span>Used Cars In </span>
                                                        <a href="used-car-search-result.html">United Kingdom</a>
                                                    </div>
                                                    <div class="dlab-move"></div>
                                                </div>
                                                <div class="city-box">
                                                    <div class="glyph-icon flaticon-city-hall"></div>
                                                    <div class="city-info">
                                                        <span>Used Cars In </span>
                                                        <a href="used-car-search-result.html">United Kingdom</a>
                                                    </div>
                                                    <div class="dlab-move"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="by-price" class="tab-pane clearfix fade">
                                        <div class="col-md-12 owl-carousel owl-btn-style-2 quick-look">
                                            <div class="item">
                                                <div class="dlab-feed-list">
                                                    <div class="dlab-media">
                                                        <a href="used-car-search-result.html"><img src="images/our-work/work/pic1.jpg" alt=""></a>
                                                    </div>
                                                    <div class="dlab-info">
                                                        <h4 class="dlab-title"><a href="used-car-search-result.html">Hyundai santa fe sport </a></h4>
                                                        <div class="dlab-separator bg-black"></div>
                                                        <p class="dlab-price"><del>$40,152</del> <span class="text-primary">$26,598</span></p>
                                                    </div>
                                                    <div class="icon-box-btn text-center">
                                                        <ul class="clearfix">
                                                            <li>2019</li>
                                                            <li>Manual</li>
                                                            <li>210 hp </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="dlab-feed-list">
                                                    <div class="dlab-media">
                                                        <a href="used-car-search-result.html"><img src="images/our-work/work/pic2.jpg" alt=""></a>
                                                    </div>
                                                    <div class="dlab-info">
                                                        <h4 class="dlab-title"><a href="used-car-search-result.html">Hyundai santa fe sport </a></h4>
                                                        <div class="dlab-separator bg-black"></div>
                                                        <p class="dlab-price"><del>$40,152</del> <span class="text-primary">$26,598</span></p>
                                                    </div>
                                                    <div class="icon-box-btn text-center">
                                                        <ul class="clearfix">
                                                            <li>2019</li>
                                                            <li>Manual</li>
                                                            <li>210 hp </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="dlab-feed-list">
                                                    <div class="dlab-media">
                                                        <a href="used-car-search-result.html"><img src="images/our-work/work/pic3.jpg" alt=""></a>
                                                    </div>
                                                    <div class="dlab-info">
                                                        <h4 class="dlab-title"><a href="used-car-search-result.html">Hyundai santa fe sport </a></h4>
                                                        <div class="dlab-separator bg-black"></div>
                                                        <p class="dlab-price"><del>$40,152</del> <span class="text-primary">$26,598</span></p>
                                                    </div>
                                                    <div class="icon-box-btn text-center">
                                                        <ul class="clearfix">
                                                            <li>2019</li>
                                                            <li>Manual</li>
                                                            <li>210 hp </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="dlab-feed-list">
                                                    <div class="dlab-media">
                                                        <a href="used-car-search-result.html"><img src="images/our-work/work/pic4.jpg" alt=""></a>
                                                    </div>
                                                    <div class="dlab-info">
                                                        <h4 class="dlab-title"><a href="used-car-search-result.html">Hyundai santa fe sport </a></h4>
                                                        <div class="dlab-separator bg-black"></div>
                                                        <p class="dlab-price"><del>$40,152</del> <span class="text-primary">$26,598</span></p>
                                                    </div>
                                                    <div class="icon-box-btn text-center">
                                                        <ul class="clearfix">
                                                            <li>2019</li>
                                                            <li>Manual</li>
                                                            <li>210 hp </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- For Your Quick Look END -->
            <!-- Testimonial -->
            <!--<div class="section-full content-inner bg-img-fix overlay-primary-dark" style="background-image: url(images/background/bg3.jpg);">
                <div class="container">
                    <div class="section-head text-center head-1 text-white">
                        <span>What Our Happy Clients say about us </span>
                        <h3 class="h3 text-uppercase">our Testimonial</h3>
                        <div class="dlab-separator bg-white"></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p>
                    </div>
                    <div class="section-content ">

                        <div class="testimonial-center owl-carousel owl-btn-center-lr">
                            <div class="item">
                                <div class="testimonial-2 testimonial-bg style-1">
                                    <div class="testimonial-text">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                            it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                    </div>
                                    <div class="testimonial-detail clearfix">
                                        <div class="testimonial-box">
                                            <div class="testimonial-pic radius shadow"><img src="images/testimonials/pic1.jpg" alt="" width="100" height="100"></div>
                                            <strong class="testimonial-name">John Doe</strong>
                                            <span class="text-white">Car Dealer</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-2 testimonial-bg style-1">
                                    <div class="testimonial-text">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                            it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                    </div>
                                    <div class="testimonial-detail clearfix">
                                        <div class="testimonial-box">
                                            <div class="testimonial-pic radius shadow"><img src="images/testimonials/pic2.jpg" alt="" width="100" height="100"></div>
                                            <strong class="testimonial-name">John Doe</strong>
                                            <span class="text-white">Car Dealer</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-2 testimonial-bg style-1">
                                    <div class="testimonial-text">
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                            it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                                    </div>
                                    <div class="testimonial-detail clearfix">
                                        <div class="testimonial-box">
                                            <div class="testimonial-pic radius shadow"><img src="images/testimonials/pic3.jpg" alt="" width="100" height="100"></div>
                                            <strong class="testimonial-name">John Doe</strong>
                                            <span class="text-white">Car Dealer</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- Testimonial -->
            <!-- Latest News -->
            <div class="section-full bg-white content-inner-1">
                <div class="container">
                    <div class="section-head text-center head-1">
                        <span class="text-primary">Read our latest news</span>
                        <h3 class="h3 text-uppercase">Latest News</h3>
                    </div>
                    <div class="row">
                        <div class="blog-carousel owl-carousel col-md-12">
                            <div class="item">
                                <div class="ow-blog-post date-style-2 dlab-latest-blog">
                                    <div class="ow-post-media dlab-img-effect zoom-slow"> <img src="images/blog/latest-blog/pic2.jpg" alt=""> </div>
                                    <div class="ow-post-meta">
                                        <ul>
                                            <li class="profile-user">
                                                <img src="images/testimonials/pic1.jpg" alt="" />
                                            </li>
                                            <li><span>John Doe</span></li>
                                            <li><i class="fa fa-calendar"></i></li>
                                            <li><i class="fa fa-comments"></i></li>
                                        </ul>
                                    </div>
                                    <div class="ow-post-info ">
                                        <div class="ow-post-title">
                                            <h4 class="post-title"> <a href="blog-single-sidebar.html" title="Video post">Porche Release New Model</a> </h4>
                                        </div>
                                        <div class="ow-post-text">
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry......</p>
                                        </div>
                                        <div class="ow-post-readmore ">
                                            <a href="#" rel="bookmark" class="site-button-link"> Read More <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="ow-blog-post date-style-2 dlab-latest-blog">
                                    <div class="ow-post-media dlab-img-effect zoom-slow"> <img src="images/blog/latest-blog/pic1.jpg" alt=""> </div>
                                    <div class="ow-post-meta">
                                        <ul>
                                            <li class="profile-user">
                                                <img src="images/testimonials/pic2.jpg" alt="" />
                                            </li>
                                            <li><span>John Doe</span></li>
                                            <li><i class="fa fa-calendar"></i></li>
                                            <li><i class="fa fa-comments"></i></li>
                                        </ul>
                                    </div>
                                    <div class="ow-post-info ">
                                        <div class="ow-post-title">
                                            <h4 class="post-title"> <a href="blog-single-sidebar.html" title="Video post">Porche Release New Model</a> </h4>
                                        </div>
                                        <div class="ow-post-text">
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry......</p>
                                        </div>
                                        <div class="ow-post-readmore ">
                                            <a href="#" rel="bookmark" class="site-button-link"> Read More <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="ow-blog-post date-style-2 dlab-latest-blog">
                                    <div class="ow-post-media dlab-img-effect zoom-slow"> <img src="images/blog/latest-blog/pic3.jpg" alt=""> </div>
                                    <div class="ow-post-meta">
                                        <ul>
                                            <li class="profile-user">
                                                <img src="images/testimonials/pic3.jpg" alt="" />
                                            </li>
                                            <li><span>John Doe</span></li>
                                            <li><i class="fa fa-calendar"></i></li>
                                            <li><i class="fa fa-comments"></i></li>
                                        </ul>
                                    </div>
                                    <div class="ow-post-info ">
                                        <div class="ow-post-title">
                                            <h4 class="post-title"> <a href="blog-single-sidebar.html" title="Video post">Porche Release New Model</a> </h4>
                                        </div>
                                        <div class="ow-post-text">
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry......</p>
                                        </div>
                                        <div class="ow-post-readmore ">
                                            <a href="#" rel="bookmark" class="site-button-link"> Read More <i class="fa fa-angle-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Latest News END-->
            

            <!-- Client logo Carousel -->
           <!-- <div class="section-full bg-img-fix p-t30 p-b30 ">
                <div class="container">
                    <div class="section-content">
                        <div class="client-logo-carousel owl-carousel mfp-gallery gallery owl-btn-center-lr">
                            <div class="item">
                                <div class="ow-client-logo">
                                    <div class="client-logo"><a href="#"><img src="images/client-logo/logo1.jpg" alt=""></a></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="ow-client-logo">
                                    <div class="client-logo"> <a href="#"><img src="images/client-logo/logo2.jpg" alt=""></a> </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="ow-client-logo">
                                    <div class="client-logo"> <a href="#"><img src="images/client-logo/logo3.jpg" alt=""></a> </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="ow-client-logo">
                                    <div class="client-logo"> <a href="#"><img src="images/client-logo/logo4.jpg" alt=""></a> </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="ow-client-logo">
                                    <div class="client-logo"> <a href="#"><img src="images/client-logo/logo5.jpg" alt=""></a> </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="ow-client-logo">
                                    <div class="client-logo"> <a href="#"><img src="images/client-logo/logo2.jpg" alt=""></a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- Client logo Carousel END -->
            <!-- Content END-->
       

        <!-- scroll top button -->
        <button class="scroltop fa fa-chevron-up"></button>
    </div>
@* </div> *@
   
    
</body>

</html>
@* @section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#brandDropdown').change(function () {
                var brandName = $(this).val();
                if (brandName) {
                    $.ajax({
                        url: '@Url.Action("GetModelsByBrand", "Home")',
                        type: 'GET',
                        data: { brandName: brandName },
                        success: function (data) {
                            var modelDropdown = $('#modelDropdown');
                            modelDropdown.empty();
                            modelDropdown.append('<option value="">Select Model</option>');
                            $.each(data, function (index, item) {
                                modelDropdown.append('<option value="' + item.twoWheelerName + '">' + item.twoWheelerName + '</option>');
                            });
                        },
                        error: function (xhr, status, error) {
                            console.error('AJAX error: ' + status + ' - ' + error);
                        }
                    });
                } else {
                    $('#modelDropdown').empty();
                    $('#modelDropdown').append('<option value="">Select Modelsss</option>');
                }
            });
        });
    </script>
} *@
@* @section Scripts {
<script>
    $(document).ready(function () {
        getModelsBybrandName();
    })
    $('#brandName').change(function () {
        getModelsBybrandName();
    });
        var getModelsBybrandName = function () {
            $.ajax({
                url: '@Url.Action("GetModelsByBrand","Home")',
                type: 'GET',
                data: {
                    brandName: $('#brandName').val(),
                },
                success: function (data) {
                    $('#modelDropdown').empty(); // Clear previous options
                    $.each(data, function (index, item) {
                        $('#modelDropdown').append('<option value="' + item.Id + '">' + item.TwoWheelerName + '</option>');
                    });
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        };
</script>} *@
@* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@section Scripts {
    <script>
        debugger;
        // alert("1");
        $(document).ready(function () {
            // alert("2");
            $('#brandName').change(function () {
                getModelsBybrandName();
            });
        });
        // alert("3");
        var getModelsBybrandName = function () {
            // alert("4");
            $.ajax({
                url: '@Url.Action("GetModelsByBrand", "Home")',
                type: 'GET',
                data: {
                    brandName: $('#brandName').val(),
                },
                success: function (data) {
                    // alert("5");
                    // $('#modelDropdown').empty(); // Clear existing options
                    // $('#modelDropdown').append('<option value="">Select Model</option>');
                    $.each(data, function (index, item) {
                        // alert("6");
                        $('#modelDropdown').append('<option value="' + item.company+ '">' + item.twoWheelerName + '</option>');
                    });
                }
            });
        }
    </script>
} *@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        
        $("#ddlBrand").change(function () {
            // alert("2");
            var url = "@Url.Action("GetModelsByBrand", "Home")";
            $.getJSON(url, { id: $("#ddlBrand").val() }, function (data) {
                alert(JSON.stringify(data));
                // populateDropdown(JSON.stringify(data));
                populateDropdown(data);
                //data = JSON.stringify(data);
                // $("#ddlModel").empty();
                // $("#ddlModel").append("<option>Select Model</option>");
                // $.each(data, function (index, optionData) {
                //     alert(optionData.TwoWheelerName);
                //     var option = "<option value='" + optionData.TwoWheelerId + "'>" + optionData.TwoWheelerName + "</option>";
                //     $("#ddlModel").append(option);
                // }); 


            });
        });

        function BrandByModel(data) {
            debugger;
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetModelsByBrand", "Home")',
                data: "{}",
                success: function (data) {
                    var s = '<option value="-1">Pickup Location</option>';
                    for (var i = 0; i < data.length; i++) {
                        console.log(data[i])
                        s += '<option value="' + data[i].twoWheelerId + '">' + data[i].twoWheelerName + " " + data[i].twoWheelerName + '</option>';
                    }
                    $("#ddlModel").html(s);
                }
            });
        }

        function populateDropdown(data) { 
            debugger;
            $.ajax({
                url: '@Url.Action("GetModelsByBrand", "Home")',
                type: 'GET',
                data: {
                    Id: $('#ddlBrand').val()
                },
                success: function (data) {
                    $(data).each( function (index, item) {
                        $('#ddlModel').append('<option value="' + item.twoWheelerId + '">' + item.twoWheelerName + '</option>');
                    });
                }
            })
        }
        

    });
</script>
@* <script>
    $(document).ready(function () {
        alert("1");
        $("#ddlBrand").change(function () {
            alert("2");
            var url = "@Url.RouteUrl("Default", new { controller = "Home", action = "GetModelsByBrand" })";
            $.getJSON(url, { Id: $("#ddlBrand").val() }, function (data) {
                alert("3");
                $("#ddlModel").empty();
                $("#ddlModel").append("<option>Select Model</option>");
                $.each(data, function (index, optionData) {
                    var option = "<option value='" + optionData.TwoWheelerId + "'>" + optionData.TwoWheelerName + "</option>";
                    $("#ddlModel").append(option);
                });
            });
        });
    });
</script> *@
@* <script>
    $(document).ready(function () {
        alert("1");
        $("#ddlBrand").change(function () {
            alert("2");
            var url = "@Url.Action("GetModelsByBrand", "Home")";
            $.getJSON(url, { Id: $("#ddlBrand").val() }, function (response) {
                alert("3");
                debugger;
                if (response.success) {
                    $("#ddlModel").empty();
                    $("#ddlModel").append("<option>Select Model</option>");
                    $.each(response.data, function (index, optionData) {
                        var option = "<option value='" + optionData.TwoWheelerId + "'>" + optionData.TwoWheelerName + "</option>";
                        $("#ddlModel").append(option);
                    });
                } else {
                    alert(response.message);
                }
            });
        });
    });
</script> *@
@* @section Scripts{
    <script>
        $(document).ready(function () {
            getModelByBrand();
        });

        $("#ddlBrand").change(function () {
            getModelByBrand();
        });

        var getModelByBrand = function () {
            debugger;
            $.ajax({
                url: '@Url.Action("GetModelsByBrand", "Home")',
                type: 'GET',
                data: {
                    Id: $('#ddlBrand').val()
                },
                success: function (data) {
                    $('#ddlModel').find('option').remove();
                    $(data).each(function (index, item) {
                        $('#ddlModel').append('<option value="' + item.TwoWheelerId + '">' + item.TwoWheelerName + '</option>');
                    });
                }
            });
        }
    </script>
} *@
