<div class="div-row">
    <div class="big-div both-div">
        @foreach (var brand in Model)
        {
            <a href="/@brand.Brand.Replace(" ", "-").ToLower()/@brand.TwoWheelerName.Replace(" ", "-").ToLower()" style="text-decoration:none;">

                <div class=" brand-container">
                    <div class="brand-bike-card">
                        <div class="brand-bike-image">
                            <img src="@brand.TWImage" alt="@brand.TwoWheelerName" title="@brand.TwoWheelerName" onerror="this.onerror=null; this.src='@Url.Content("/images/twowheeler/default.jpg")';">
                        </div>
                        <div class="brand-bike-details">
                            <h2>@brand.TwoWheelerName</h2>
                            <h3>@brand.Price</h3>
                            <p><i class="fa fa-calendar"></i>  @brand.LaunchDate</p>
                            @if (brand.IsActive == false)
                            {
                                <p class="tw-notes">DISCONTINUED<br>@brand.NotesOrComments</p>
                            }
                            <a href="/@brand.Brand.Replace(" ", "-").ToLower()/@brand.TwoWheelerName.Replace(" ", "-").ToLower()" style="text-decoration:none;" class="details-button">View Details</a>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
    <div class="small-div both-div latest-bike-container">
        <h2>Other Brands</h2>
        @foreach (var brand in ViewBag.Brand)
        {
            <a href="/@brand.BrandName.Replace(" ", "-").ToLower()" style="text-decoration:none;">
                <div class="side-brand">
                    <div class="side-brand-img">
                        <img src="@brand.BrandLogoURL" alt="@brand.BrandName" title="@brand.BrandName" onerror="showFallbackIcon(this);" />
                        <i class="bi bi-award fallback-icon"></i>
                    </div>
                    <div class="side-brand-text"><h4>@brand.BrandName </h4></div>
                </div>
            </a>
        }
    </div>
</div>
<script>
    function showFallbackIcon(imgElement) {
        imgElement.style.display = 'none'; // Hide the broken image
        imgElement.nextElementSibling.style.display = 'block'; // Show the fallback icon
    }
</script>