<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | bikecarhub</title>
    <!--For MetaTags-->
    @RenderSection("MetaTags", required: false)

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
   
    @* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> *@
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <!--<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />-->
    <!--<link rel="stylesheet" href="~/Cars_Bikes.styles.css" asp-append-version="true" />-->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous"> 
    <link href="~/css/style.min.css" rel="stylesheet" />
    <link href="~/css/templete.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="canonical" href="https://www.bikecarhub.com/" />
    @* <a href="https://www.bikecarhub.com" hreflang="en">bikecarhub</a>
    <a href="https://www.bikecarhub.com" hreflang="hi">bikecarhub</a> *@
    <!-- Favicons -->
    <link href="~/images/favicon.webp" rel="icon">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2867930648844772"
            crossorigin="anonymous"></script>
    <script async custom-element="amp-auto-ads"
            src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js">
    </script>
</head>
<body>
    <header id="navbar" class="nav-header">
        <div class="navbar-container">
            <nav>
                <div class="logo">
                    @* <img src="~/images/logo new.png" /> *@
                    @* <img src="~/images/logo new name.png" /> *@
                    <a asp-controller="Home" asp-action="Index"><img src="~/images/bchlogo.webp" alt="bikecarhublogo" title="bikecarhublogo" /> @* <img src="~/images/new logo white bg.png" /> *@@* <img src="~/images/logo newname psd 2.png" alt="BCH Logo" /> *@</a>
                </div>
                <div class="search-div"><input type="text" id="searchTwoWheeler" placeholder="Search" class="for-search" /><i class="bi bi-search search-icon"></i></div>
                <!-- <div class="logo">Logo</div> -->
                <ul class="nav-links" id="nav-links">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Compare" asp-action="TWCompare">Compare</a></li>
                    <li><a asp-controller="Blogs" asp-action="Index">Blogs</a></li>
                    <li><a asp-controller="EmiCalculator" asp-action="EmiCalculator">EMI Calculator </a></li>
                  @*   <li><a asp-controller="AboutUs" asp-action="Index">About Us</a></li> *@
                    @* <li><a asp-controller="LatestNews" asp-action="Sep22024NewsDetails1">Aug282024NewsDetails1</a></li> *@
                    <li><a class="text-white" id="contact-link">Ask a Question</a></li>
                    @* <li><a id="loginButton" class="btn btn-primary" onclick="openLoginModal()">Login</a></li> *@
                </ul>

                <div class="hamburger" id="hamburger">
                    <i class="bi bi-list"></i>
                </div>
            </nav>
            <div class="overlay" id="overlay">
                <span class="close-btn" id="closeBtn"><i class="bi bi-x"></i></span>
                <div class="overlay-content">
                    <ul class="overlay-links">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Compare" asp-action="TWCompare">Compare</a></li>
                        <li><a asp-controller="Blogs" asp-action="Index">Blogs</a></li>
                        <li><a asp-controller="EmiCalculator" asp-action="EmiCalculator">EMI Calculator </a></li>
                        <li><a asp-controller="AboutUs" asp-action="Index">About Us</a></li>
                        <li><a class ="text-white" id="contact-link-overlay">Ask a Question</a></li>
                        @* <li><a id="loginButton" class="btn btn-primary" onclick="openLoginModal()">Login</a></li> *@
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <!-- Contact Form Popup -->
    <div class="contact-form-popup" id="contactFormPopup">
        <div class="contact-form-content">
            <span class="close-btn" id="contactFormClose"><i class="bi bi-x"></i></span>
            @* <h2>Contact Us</h2> *@
            <form id="contactForm" method="post" asp-controller="ContactUs" asp-action="Index">
                <input type="hidden" name="__RequestVerificationToken" value="" />
                <label for="name">Name</label>
                <input type="text" id="name" name="Name" required>
                <label for="phoneNo">Phone No.</label>
                <input type="text" id="phoneNo" name="PhoneNo" required>
                <label for="email">Email</label>
                <input type="email" id="email" name="Email" required>
                <label for="message">Message</label>
                <textarea id="message" name="Message"></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

    <!-- Login Modal -->
    <div id="loginModal" class="modal" style="display:none;">
        <div class="modal-content">
            <span class="close" onclick="closeLoginModal()">&times;</span>
            <h2>Login</h2>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "loginForm" }))
            {
                <div>
                    @Html.Label("Username")
                    @Html.TextBox("Username", null, new { @class = "form-control", required = "required" })
                </div>
                <div>
                    @Html.Label("Password")
                    @Html.Password("Password", null, new { @class = "form-control", required = "required" })
                </div>
                <div style="margin-top: 10px;">
                    <button type="submit" class="btn btn-success">Login</button>
                </div>
                <div id="errorMessage" style="color:red; margin-top:10px;"></div>
            }
        </div>
    </div>
    <div class="">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
<footer class="site-footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <!--<div class="col-md-3 col-sm-6 col-xs-6 footer-col-4">
                    <div class="widget widget_about">
                        <div class="logo-footer"><img src="images/logo-light.png" alt=""></div>
                        <p class="m-tb20"><strong>CarZone</strong> is simply dummy text of the print ing and in type setting industry. Lorem Ipsum has bee the industry's standard...</p>

                        <ul class="dlab-contact-info">
                            <li><i class="flaticon-placeholder"></i>Demo Address #8901 Marmora Road Chi Minh City, Vietnam</li>
                            <li><i class="flaticon-customer-service"></i>Phone : 0800-123456 (24/7 Support Line)</li>
                        </ul>
                    </div>
                </div>-->
                <div class="col-md-6 col-sm-6 col-xs-6 footer-col-4">
                    <div class="widget widget_services">
                        <h4 class="m-b15 text-uppercase">Useful Links</h4>
                        <div class="dlab-separator bg-primary"></div>
                        <ul>
                            @* <li><a href="new-car-latest.html">News</a></li> *@
                                <li><a asp-controller="ContactUs" asp-action="Index"> Contact BikeCarHub</a></li>
                                <li><a asp-controller="AboutUs" asp-action="Index">About BikeCarHub</a></li>
                                <li><a asp-controller="UpcomingBike" asp-action="TWUpcomingBikeDetails">Upcoming Bikes & Cars</a></li>
                            @* <li><a href="used-car-search.html">Review</a></li> *@
                            <!--<li><a href="used-car-sell.html">Car Sell</a></li>-->
                                <li><a asp-controller="Compare" asp-action="TWCompare">Compare</a></li>
                                <li><a asp-controller="Legal" asp-action="PrivacyPolicy">Privacy Policy</a></li>
                                <li><a asp-controller="Legal" asp-action="TermsandConditions">Terms and conditions</a></li>
                                <li><a asp-controller="Legal" asp-action="Disclaimer">Disclaimer</a></li>
                                <li><a asp-controller="AdminLogin" asp-action="Login">AdminLogin</a></li>

                        </ul>
                    </div>
                </div>
                <!--<div class="col-md-3 col-sm-6 col-xs-6 footer-col-4">
                    <div class="widget recent-posts-entry">
                        <h4 class="m-b15 text-uppercase">recent posts </h4>
                        <div class="dlab-separator bg-primary"></div>
                        <div class="widget-post-bx">
                            <div class="widget-post clearfix">
                                <div class="dlab-post-media"> <img src="images/blog/recent-blog/pic1.jpg" alt="" width="200" height="143"> </div>
                                <div class="dlab-post-info">
                                    <div class="dlab-post-header">
                                        <h5><a href="blog-single.html">Time to change...</a></h5>
                                    </div>
                                    <div class="dlab-post-meta">
                                        <ul>
                                            <li class="post-author">By Admin</li>
                                            <li class="post-comment"><i class="fa fa-comments"></i> 28</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-post clearfix">
                                <div class="dlab-post-media"> <img src="images/blog/recent-blog/pic2.jpg" alt="" width="200" height="160"> </div>
                                <div class="dlab-post-info">
                                    <div class="dlab-post-header">
                                        <h5><a href="blog-single.html">Time to change...</a></h5>
                                    </div>
                                    <div class="dlab-post-meta">
                                        <ul>
                                            <li class="post-author">By Admin</li>
                                            <li class="post-comment"><i class="fa fa-comments"></i> 28</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-post clearfix">
                                <div class="dlab-post-media"> <img src="images/blog/recent-blog/pic3.jpg" alt="" width="200" height="160"> </div>
                                <div class="dlab-post-info">
                                    <div class="dlab-post-header">
                                        <h5><a href="blog-single.html">Time to change...</a></h5>
                                    </div>
                                    <div class="dlab-post-meta">
                                        <ul>
                                            <li class="post-author">By Admin</li>
                                            <li class="post-comment"><i class="fa fa-comments"></i> 28</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
               

                    <div class ="col-md-6 col-sm-6 col-xs-6 footer-col-4">
                    <div class="widget ">
                        <h4 class="m-b15 text-uppercase">Newsletter </h4>
                        <div class="dlab-separator bg-primary"></div>
                        <p class="m-tb20">Keep up on our always evolving products features and technology. Enter your e-mail and subscribe to our newsletter.</p>
                        
                            <form id="newsletterForm" method="post" class="dlab-subscribe-form dzSubscribe  m-l10 m-r10" asp-controller="Home" asp-action="NewsLetter">
                                <div class="dzSubscribeMsg"></div>
                                <div class="input-group m-b15">
                                    <input name="Email" required="required" type="email" class="form-control" placeholder="Enter Your Email">
                                </div>
                                <div class="input-group">
                                    <button type="submit" class="contact-form-button">
                                        SUBSCRIBE TO BIKECARHUB
                                    </button>
                                </div>
                            </form>
                     </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 footer-col-4">
                            <div class="widget ">
                                <h4 class="m-b15 text-uppercase">About Bikecarhub </h4>
                                <div class="dlab-separator bg-primary"></div>
                                <p class="m-tb20">BikeCarHub is a one-stop destination for Indian vehicle shoppers, combining pricing tools, informative reviews, comparison features, launch calendars, and news—all maintained by an established tech firm in Dehradun. It's especially handy if you're researching your next ride, be it bike, scooter, car or EV.</p>
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-6 footer-col-4">
                            <div class="widget ">
                                <h4 class="m-b15 text-uppercase">Contact Us</h4>
                                <div class="dlab-separator bg-primary"></div>
                                <p class="m-tb20">
                                    <span class="font-weight-700"> Phone:</span>  +91 8630235507<br /><span class="font-weight-700">Email: </span> info@voxtus.com
                                </p>
                            </div>
                        </div>
                     <ul style="display: flex; list-style:none; gap:20px; align-items:center">   
                            @* <li><a href="#" class="site-button-link facebook hover"><i class="fa fa-facebook"></i></a></li> *@
                            <li><a href="https://www.instagram.com/?hl=en" class="site-button-link google-plus hover"><i class="bi bi-instagram"></i></a></li>
                            <li><a href="https://x.com/home?lang=en" class="site-button-link twitter hover"><i class="bi bi-twitter-x"></i></a></li>
                            <li><a href="https://www.linkedin.com/feed/?trk=nav_back_to_linkedin" class="site-button-link linkedin hover"><i class="fa fa-linkedin"></i></a></li>
                    </ul> 
                </div>
            </div>
           <!-- <div class="clearfix">
                <ul class="full-social-icon clearfix">
                    <li class="fb col-md-3 col-sm-6 col-xs-6 m-b30">
                        <a href="#"><i class="fa fa-facebook"></i> Share On Facebook </a>
                    </li>
                    <li class="tw col-md-3 col-sm-6 col-xs-6 m-b30">
                        <a href="#"><i class="fa fa-twitter"></i> Tweet About it </a>
                    </li>
                    <li class="gplus col-md-3 col-sm-6 col-xs-6 m-b30">
                        <a href="#"><i class="fa fa-google-plus"></i> Google Plus | 78+ </a>
                    </li>
                    <li class="linkd col-md-3 col-sm-6 col-xs-6 m-b30">
                        <a href="#"><i class="fa fa-linkedin"></i> Linkedin | 21k </a>
                    </li>
                </ul>
            </div>-->
        </div>
    </div>
    <!-- footer bottom part -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                    <div class="col-md-6 col-sm-6 text-left"> © 2024 <a href="https://voxtus.com/" target="_blank">Voxtus Technologies Pvt. Ltd.</a> All rights reserved. </div>
                <div class="col-md-6 col-sm-6 text-right ">
                        <a asp-controller="AboutUs" asp-action="Index"> About BikeCarHub</a> |
                        <a asp-controller="ContactUs" asp-action="Index"> Contact BikeCarHub</a> @* | *@
                    @* <a href="page-about.html"> Privacy Policy</a> *@
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer END-->
    <!--<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->
    <!--<script src="~/js/site.js" asp-append-version="true"></script>-->
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        function scrollContainer(containerId, direction) {
            const container = document.getElementById(containerId);
            if (!container) return;

            const item = container.querySelector('.blogs-item');
            if (!item) return;

            const itemWidth = item.offsetWidth;
            container.scrollBy({ left: direction * itemWidth, behavior: 'smooth' });
        }
    </script>

</body>
</html>



@* <link href="~/css/plugins.css" rel="stylesheet" /> *@
@* <link href="~/css/skin/skin-1.css" rel="stylesheet" /> *@
@* <link href="~/plugins/revolution/v5.4.3/css/navigation.css" rel="stylesheet" /> *@
@* <link href="~/plugins/revolution/v5.4.3/css/settings.css" rel="stylesheet" /> *@


 @* <script src="~/js/jquery.min.js"></script> *@
 @* <script src="~/js/wow.js"></script> *@
 @* <script src="~/js/bootstrap.min.js"></script> *@
 @* <script src="~/js/bootstrap-select.min.js"></script> *@
 @* <script src="~/js/jquery.bootstrap-touchspin.js"></script>
 <script src="~/js/magnific-popup.js"></script>
 <script src="~/js/waypoints-min.js"></script>
 <script src="~/js/counterup.min.js"></script>
 <script src="~/js/imagesloaded.js"></script>
 <script src="~/js/masonry-3.1.4.js"></script>
 <script src="~/js/masonry.filter.js"></script>
 <script src="~/js/owl.carousel.js"></script>
 <script src="~/js/dz.carousel.js"></script>
 <script src="~/js/dz.ajax.js"></script> *@

@*  <script src="~/plugins/revolution/v5.4.3/js/jquery.themepunch.revolution.min.js"></script>
 <script src="~/plugins/revolution/v5.4.3/js/jquery.themepunch.tools.min.js"></script>
 <script src="~/plugins/revolution/v5.4.3/js/extensions/revolution.extension.actions.min.js"></script>
 <script src="~/plugins/revolution/v5.4.3/js/extensions/revolution.extension.carousel.min.js"></script>
 <script src="~/plugins/revolution/v5.4.3/js/extensions/revolution.extension.kenburn.min.js"></script>
 <script src="~/plugins/revolution/v5.4.3/js/extensions/revolution.extension.layeranimation.min.js"></script>
 <script src="~/plugins/revolution/v5.4.3/js/extensions/revolution.extension.migration.min.js"></script>
 <script src="~/plugins/revolution/v5.4.3/js/extensions/revolution.extension.parallax.min.js"></script>
 <script src="~/plugins/revolution/v5.4.3/js/extensions/revolution.extension.slideanims.min.js"></script>
 <script src="~/plugins/revolution/v5.4.3/js/extensions/revolution.extension.video.min.js"></script> *@
 @* <script src="~/js/rev.slider.js"></script>
 <script src="~/js/modernizr.custom.js"></script>
 <script src="~/js/jquery.hoverdir.js"></script> *@
 @* <script src="~/js/custom.min.js"></script> *@
@* <script>
    jQuery(document).ready(function () {
        'use strict';
        dz_rev_slider_1();
    }); /*ready*/
</script> *@
<!--Ask a Question-->
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const navbar = document.getElementById('navbar');
        const overlay = document.getElementById('overlay');
        const hamburger = document.getElementById('hamburger');
        const closeBtn = document.getElementById('closeBtn');
        const contactLink = document.getElementById('contact-link');
        const contactLinkOverlay = document.getElementById('contact-link-overlay');
        const contactForm = document.getElementById('contactForm');
        const contactFormPopup = document.getElementById('contactFormPopup');
        const contactFormClose = document.getElementById('contactFormClose');

        // Toggle overlay menu
        hamburger.addEventListener('click', () => {
            overlay.style.display = 'block';
        });

        closeBtn.addEventListener('click', () => {
            overlay.style.display = 'none';
        });

        // Show contact form popup
        contactLink.addEventListener('click', () => {
            contactFormPopup.style.display = 'flex';
        });

        contactLinkOverlay.addEventListener('click', () => {
            overlay.style.display = 'none';
            contactFormPopup.style.display = 'flex';
        });

        // Close contact form popup
        contactFormClose.addEventListener('click', () => {
            contactFormPopup.style.display = 'none';
        });

        // Change navbar color on scroll
        window.addEventListener('scroll', () => {
            if (window.scrollY > 50) {
                navbar.classList.remove('transparent');
                navbar.classList.add('white-bg');
            } else {
                navbar.classList.remove('white-bg');
                navbar.classList.add('transparent');
            }
        });

        // Initial navbar color
        if (window.scrollY <= 50) {
            navbar.classList.add('transparent');
        }
        // Submit form via AJAX
        contactForm.addEventListener('submit', async (e) => {
            e.preventDefault();
            const formData = new FormData(contactForm);
            const response = await fetch(contactForm.action, {
                method: 'POST',
                body: formData,
            });
            const result = await response.text(); // Use text() instead of json() for ASP.NET responses

            if (response.ok) {
                alert('Your message has been sent. Thank you!');
                contactForm.reset();
                contactFormPopup.style.display = 'none';
            } else {
                alert('There was an error. Please try again.');
            }
        });
    });</script>

<script>
        document.getElementById('newsletterForm').addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent the default form submission

            // Perform the actual form submission using fetch or any other method
            const form = event.target;
            const formData = new FormData(form);

            fetch(form.action, {
                method: form.method,
                body: formData
            }).then(response => {
                if (response.ok) {
                    // If the submission is successful, clear the form
                    form.reset();
                    // Optionally, you can display a success message here
                    document.querySelector('.dzSubscribeMsg').innerHTML = 'Subscription successful!';
                } else {
                    // Handle the error case
                    document.querySelector('.dzSubscribeMsg').innerHTML = 'Subscription failed. Please try again.';
                }
            }).catch(error => {
                // Handle network errors or other errors
                document.querySelector('.dzSubscribeMsg').innerHTML = 'An error occurred. Please try again.';
            });
        });
</script>

<!---------------------Search--------------------------->

<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script> 
@* <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script> *@
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.min.js" integrity="sha384-RuyvpeZCxMJCqVUGFI0Do1mQrods/hhxYlcVfGPOfQtPJh0JCw12tUAZ/Mv10S7D" crossorigin="anonymous"></script> 

<script>

    $(document).ready(function () {
        $("#searchTwoWheeler").val("");
        $("#searchTwoWheeler").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetTwoWheelerNames", "Home")',
                    data: { term: request.term },
                    success: function (data) {
                        // Process the data
                        response($.map(data, function (item) {
                            return {
                                // label: item,  Display name in the dropdown
                                // value: item   Selected value
                                 label: item.label,
                                value: item.label,
                                type: item.type
                            };
                        }));

                        // Automatically select the first item from the list
                        if (data.length > 0) {
                            $("#searchTwoWheeler").autocomplete("option", "autoFocus", true);
                            // $("#searchTwoWheeler").val(data[0]); // Set the input field to the first result

                            // Trigger the select event automatically for the first item
                            // $("#searchTwoWheeler").data("ui-autocomplete")._trigger("select", null, { item: { value: data[0] } });
                        }
                    }
                });
            },
            // select: function (event, ui) {
                // When an item is selected (either manually or automatically)
            //     $.ajax({
            //         url: '@Url.Action("GetTwoWheelerDetailsByName", "Home")',
            //         data: { twoWheelerName: ui.item.value },
            //         success: function (data) {
            //             Redirect to the details page using the slug
            //             window.location.href = '/' + data.brandName + '/' + data.twName;
            //         }
            //     });
            // },
             select: function (event, ui) {
                if (ui.item.type === "TwoWheeler") {
                    // Call existing TwoWheeler redirect logic
                    $.ajax({
                        url: '@Url.Action("GetTwoWheelerDetailsByName", "Home")',
                        data: { twoWheelerName: ui.item.value },
                        success: function (data) {
                            if (data) {
                                window.location.href = '/' + data.brandName + '/' + data.twName;
                            }
                        }
                    });
                } else if (ui.item.type === "Compare") {
                    // Redirect using CompareItems table (assume compareUrl exists in DB)
                    window.location.href = '/Compare/' + ui.item.value.toLowerCase().replace(/\s+/g, "-");
                }
            },
            minLength: 2 // Start searching after 2 characters
        });
    });
</script>
@* -----------------------------------Login pages---------------------------------- *@
<script>
    function openLoginModal() {
        document.getElementById('loginModal').style.display = 'flex';
    }

    function closeLoginModal() {
        document.getElementById('loginModal').style.display = 'none';
    }
</script>
@* @if (Session["Username"] != null)
{
    <span>Welcome, @Session["Username"]!</span>
    <a href="/Account/Logout" class="btn btn-danger">Logout</a>
}
else
{
    <button id="loginButton" class="btn btn-primary" onclick="openLoginModal()">Login</button>
} *@