@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Yezdi Roadking: Iconic Adventure Bike Reborn for the Road";
}
@section MetaTags{
    <meta name="keywords" content="Yezdi Roadking, Yezdi Roadking specs, Yezdi Roadking price, Yezdi adventure bike, Yezdi Roadking features, Classic Yezdi motorcycles, Yezdi Roadking India" />
    <meta name="description" content="Rediscover the Yezdi Roadking, a legendary adventure bike now reimagined with modern performance and design. See specs, features, and price in India." />
}
<!--For truncate-->
@functions {
    public string Truncate(string input, int length)
    {
        if (string.IsNullOrEmpty(input) || input.Length <= length)
            return input;
        return input.Substring(0, length) + "...";
    }
}
@* <div class="overlay-black-middle" style=" background:linear-gradient(#475372, #78829A, #9EA3AD, #fff); margin:0;">
    <img src="~/images/background/banner.png" />
</div> *@
<div class="header-img"> <img src="~/images/main-slider/header.png" /></div>
<!-- Breadcrumb row END -->
@* <div class="car-details-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="nav">
                    <ul>
                        <li><a></a></li>
                        <li class="active"><a href="car-details-overview.html">Overview</a></li>
                        <li><a href="car-detail-specifications.html">Specifications</a></li>
                        <li><a href="car-detail-price.html">Price</a></li>
                        <li><a href="car-detail-compare.html">Compare</a></li>
                        <li><a href="car-detail-pictures.html">Pictures</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> *@

<body>
    <h1 class="latest-bike-head">Upcoming Bikes</h1>
    <div class="TWupcoming-container">
        <div class="upcoming-bikes-details-image">
            <img src="@Model.ImageFolderURL" alt="@Model.UpcomingBikeName" title="@Model.UpcomingBikeName" onerror="this.onerror=null; this.src='@Url.Content("~/images/twowheeler/default.jpg")';" />
            <div class="upcoming-bikes-details-text">
                <h2>@Model.UpcomingBikeName</h2>
                <p><i class="fa fa-calendar"></i>  @Model.ExpectedLaunchDate</p>
            </div>
        </div>

        <div class="upcoming-bikes-details-content">
            <h2>About @Model.UpcomingBikeName</h2>
            @* <p>@Html.Raw(@Upbike.UpcomingBikeDetails.Replace("\n", "<br>"))</p> *@
            <p>Yezdi Roadking is expected to launch in India in August 2024 in the expected price range of ₹ 2,20,000 to ₹ 2,29,999. Currently available bikes which are similar to Roadking are Husqvarna Svartpilen 250, KTM 250 Duke & Bajaj Dominar 400. Another bike similar to Roadking is OLA Roadster which is launching in October 2024 in India.</p>
        </div>
    </div>
    }
    <!-- Bike 1 -->
    <h1 class="for-h1">Explore Latest & Upcoming Bikes</h1>
    <div class="upcoming-bikes-details-row">
        @foreach (var allUpbike in ViewBag.allupcomingbike)
        {
            <a href="/@allUpbike.ImageURL" style="text-decoration:none;">
                <div class="upcoming-bikes-details-card">
                    <div class="upcoming-bikes-all-image">
                        <img src="@allUpbike.ImageFolderURL" alt="@allUpbike.UpcomingBikeName" title="@allUpbike.UpcomingBikeName" onerror="this.onerror=null; this.src='@Url.Content("~/images/twowheeler/default.jpg")';" />
                    </div>

                    <div class="upcoming-allbikes-details-content">
                        <h2>@Truncate(@allUpbike.UpcomingBikeName, 22)</h2>
                        <p><i class="fa fa-calendar"></i>  @allUpbike.ExpectedLaunchDate</p>
                        <a href="/@allUpbike.ImageURL" class="details-button" style="text-decoration:none;">View Details</a>
                    </div>
                </div>
            </a>
        }
    </div>
</body>