@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Yamaha NMAX 155 – Specs, Features & Mileage for 2024";
}
@section MetaTags{
    <meta name="keywords" content="Yamaha NMAX 155, NMAX 155 specs, Yamaha NMAX mileage, NMAX scooter features, Yamaha 155cc scooter, Urban commuter scooter" />
    <meta name="description" content="Discover the Yamaha NMAX 155 scooter: engine specs, mileage, key features, and performance. Perfect for urban commuting with style and power." />
}
<!--For truncate-->
@functions {
    public string Truncate(string input, int length)
    {
        if (string.IsNullOrEmpty(input) || input.Length <= length)
            return input;
        return input.Substring(0, length) + "...";
    }
}
@* <div class="overlay-black-middle" style=" background:linear-gradient(#475372, #78829A, #9EA3AD, #fff); margin:0;">
    <img src="~/images/background/banner.png" />
</div> *@
@* <div class="header-img"> <img src="~/images/main-slider/header.png" /></div> *@
<!-- Breadcrumb row END -->
@* <div class="car-details-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="nav">
                    <ul>
                        <li><a></a></li>
                        <li class="active"><a href="car-details-overview.html">Overview</a></li>
                        <li><a href="car-detail-specifications.html">Specifications</a></li>
                        <li><a href="car-detail-price.html">Price</a></li>
                        <li><a href="car-detail-compare.html">Compare</a></li>
                        <li><a href="car-detail-pictures.html">Pictures</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> *@

<body>
    <div class="m-t90">
    <h1 class="latest-bike-head">Upcoming Bikes</h1>
    <div class="TWupcoming-container">
        <div class="upcoming-bikes-details-image">
            <img src="@Model.ImageFolderURL" alt="@Model.UpcomingBikeName" title="@Model.UpcomingBikeName" onerror="this.onerror=null; this.src='@Url.Content("~/images/twowheeler/default.webp")';" />
            <div class="upcoming-bikes-details-text">
                <h2>@Model.UpcomingBikeName</h2>
                <p><i class="fa fa-calendar"></i>  @Model.ExpectedLaunchDate</p>
            </div>
        </div>

        <div class="upcoming-bikes-details-content">
            <h2>About @Model.UpcomingBikeName</h2>
            @* <p>@Html.Raw(@Upbike.UpcomingBikeDetails.Replace("\n", "<br>"))</p> *@
            <p>Yamaha Nmax 155 is expected to launch in India in September 2024 in the expected price range of ₹ 1,60,000 to ₹ 1,70,000. Currently available bikes which are similar to Nmax 155 are Vespa SXL 150, Simple Energy One & Vespa VXL 150.</p>
        </div>
    </div>
    }
    <!-- Bike 1 -->
    <h1 class="for-h1">Explore Latest & Upcoming Bikes</h1>
    <div class="upcoming-bikes-details-row">
        @foreach (var allUpbike in ViewBag.allupcomingbike)
        {
            <a href="/@allUpbike.ImageURL" style="text-decoration:none;">
                <div class="upcoming-bikes-details-card">
                    <div class="upcoming-bikes-all-image">
                        <img src="@allUpbike.ImageFolderURL" alt="@allUpbike.UpcomingBikeName" title="@allUpbike.UpcomingBikeName" onerror="this.onerror=null; this.src='@Url.Content("~/images/twowheeler/default.jpg")';" />
                    </div>

                    <div class="upcoming-allbikes-details-content">
                        <h2>@Truncate(@allUpbike.UpcomingBikeName, 22)</h2>
                        <p><i class="fa fa-calendar"></i>  @allUpbike.ExpectedLaunchDate</p>
                        <a href="/@allUpbike.ImageURL" class="details-button" style="text-decoration:none;">View Details</a>
                    </div>
                </div>
            </a>
        }
    </div>
    </div>
</body>