@model IEnumerable<Cars_Bikes.Models.TWUnderpinning>

@{
    ViewData["Title"] = "List Underpinnings";
}
<body>
    <div class="header-img"> <img src="~/images/main-slider/header.png" /></div>
    <div class="container">
        <div class="row justify-content-center align-items-center" style="min-height: 80vh;">
            <!-- only 80% screen height -->
            <form asp-controller="AdminLogin" asp-action="Logout" method="post">
                <button type="submit" class="btn btn-danger btn-sm">Logout</button>
            </form>
            <div class="col-md-8 col-lg-6">
<h2 class="text-center">Underpinning Details</h2>

<table class="table table-bordered table-striped text-center mx-auto" style="width: 90%;">
    <thead class="thead-dark">
        <tr>
            <th>TW Name</th>
            <th>Varient</th>
            <th>Suspension Front</th>
            <th>Suspension Rear</th>
            <th>Tyre Size</th>
            <th>Wheel Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TwoWheeler?.TwoWheelerName</td>
                <td>@item.TWVarients?.Varients</td>
                <td>@item.SuspensionFront</td>
                <td>@item.SuspensionRear</td>
                <td>@item.TyreSize</td>
                <td>@item.WheelType</td>
                <td>
                    <a asp-action="EditTWUnderpinning" asp-route-id="@item.TWUnderpinningId" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="DeleteTWUnderpinning" asp-route-id="@item.TWUnderpinningId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
            </div>
        </div>

    </div>
    </div>

</body>